#container {
    margin: 0px;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 960px;
  width: 540px;
}
